/* map styling */
#map {
  position: fixed;
  width: 65%;
  float: left;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content{
  position: relative;
  width: 35%;
  float: right;
  height: 100%;
}