/* map styling */
#map {
  position: fixed;
  width: 50%;
  float: left;
  height: 100%;
}

/* map styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #719da6;
  scroll-behavior: smooth;
}

/* photo formatting*/
.photo {
    display: block;
      margin-left: auto;
      margin-right: auto;
}
.card-img-top {
    width: 18rem;
}

/* heading styling */
h1{
color: #316085;
font-size: 70px;
}

/* styling the cards */
#pageContent{
  /*position: sticky;*/
  width: 50%;
  float: right;
  height: 100%;
  overflow: auto;
}

h2 {
text-align: center;
}

/* heading styling */
#pageHeading {
text-align: center;
padding: 20px;
}

/* font */
body {
    font-family: 'Montserrat', sans-serif;
}
.button-small {
    font-size:20px;
    border-radius: 6px;
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-small:hover {
    background-color: #316085;
}
#space {
    background-color: #719da6;
    padding: 20px;
}
#imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
}

#homeButton {
    color: black;
    text-decoration: none;
}
a{
    color: #316085;
}

p {
    padding-top: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#showPost {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.card-footer {
    display: flex;
    justify-content: space-between;
}
