/* map styling */
#map {
  position: fixed;
  width: 50%;
  float: left;
  height: 100%;
}

/* map styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffc6b8;
}

/* heading styling */
h1{
color: #ff7d5c;
font-size: 70px;
}

/* styling the cards */
#pageContent{
  /*position: sticky;*/
  width: 50%;
  float: right;
  height: 100%;
}

/* heading styling */
#pageHeading {
text-align: center;
padding: 20px;
}

/* font */
body {
    font-family: 'Montserrat', sans-serif;
}