/* map styling */
#map {
  position: fixed;
  width: 65%;
  float: left;
  height: 100%;
}

/* map styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* styling the cards */
#content{
  position: relative;
  width: 35%;
  float: right;
  height: 100%;
}
#pageHeading {
text-align: center;
}
