/* styling the body */
#everything{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* styling the heading */
#pageHeading{
    text-align: center;
    background-color: white;
    padding: 5px;
    color: #ff7d5c
}
.button-small {
    font-size:20px;
    text-decoration: none;
    color: yellow;
    background-color: pink;
    border-style: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 2px 5px;
    cursor: pointer;
    border-radius: 6px;
}
.button {
    font-size:15px;
    text-decoration: none;
    background-color: white;
    border-style: none;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
}
.inputLabel{
    font-size: 30px;
}

/* styling h1 */
.heading{
    font-size: 100px;
}

/* styling input boxes */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* styling submit button */
input[type=submit] {
  width: 100%;
  background-color: #304169;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* styling submit button on hover */
input[type=submit]:hover {
  background-color: #222d47;
}

/* map styling */
#map {
  position: fixed;
  width: 300px;
}

/* map styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* styling html form */
#htmlForm {
    width:700px;
    margin: auto;
    background-color: pink;
    padding: 30px;
}
