/* changing the h1 styling */
h1{
    font-size: 130px;
    color: pink;
    text-align: center;
}

/* changing body styling */
body {
    background-color: teal;
}

/* changing button styling */
#buttons{
    text-align: center;
}

/* changing h2 styling */
h2{
    font-size:75px;
}

/* changing link styling */
a{
    text-decoration: none;
    color: yellow;
}

/* changing link styling on hover */
a:hover{
    text-decoration: underline;
}

/* changing button class styling */
.button {
     background-color: white;
      border-color: purple;
      border-style: none;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 20px;
      cursor: pointer;
      border-radius: 20px;
}
