
/* changing heading styling */
h1{
    font-size: 130px;
    color: #ff7d5c;
    text-align: center;
    font-weight: bold;
}

/* changing body styling */
body {
    background-color: #ffc6b8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* changing link styling */
a{
    text-decoration: none;
    color: #ffc6b8;
}

/* changing link styling on hover */
a:hover{
    text-decoration: underline;
}

/* changing button styling on hover */
.button:hover{
    font-size: 30px;
     background-color: #ff7d5c;
      border-style: none;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 20px;
      cursor: pointer;
      border-radius: 20px;
}

/* changing button styling */
.button{
    font-size: 30px;
     background-color: white;
      border-style: none;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 20px;
      cursor: pointer;
      border-radius: 20px;
}