<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Posts</h1>

<table>
    <tr>
        <th>Caption</th>
        <th>Tags</th>
        <th>username</th>
        <th>Image</th>
    </tr>
    <tr th:each="BumperStickerPost:${posts}">
        <td th:text = "${BumperStickerPost.title}"></td>
        <td th:text = "${BumperStickerPost.tags}"></td>
        <td th:text = "${BumperStickerPost.username}"></td>
        <td th:text = "${BumperStickerPost.Image}"></td>
    </tr>
</table>

</body>
</html>