<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- setup-->
    <title>Bumper Stickers!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--connecting css + js-->
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <!--adding pretty fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
<h1>BUMPER STICKERS!</h1>
<div id="buttons">
    <button id="postButton" class="button"><a href="/post"><h2>POST</h2></a></button>
    <button id="mapButton" class="button"><a href="/content"><h2>VIEW</h2></a></button>
</div>

</body>
</html>
