<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- setup-->
    <title>Bumper Stickers!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--connecting css + js-->
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <!--adding pretty fonts-->

</head>

<body>
<!-- page heading-->
<h1>BUMPER STICKERS!</h1>

<!-- navigation buttons-->
<div id="buttons">
    <button id="postButton" class="button"><a href="/post"><h2>POST</h2></a></button>
    <button id="mapButton" class="button"><a href="/content"><h2>VIEW</h2></a></button>
</div>

</body>
</html>
