<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--setup-->
    <title>Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- connecting to js and css-->
    <link rel="stylesheet" th:href="@{/postStyle.css}"/>

</head>

<body>
<!--page heading-->
<h1>BUMPER STICKERS</h1>

<!--posting form-->
<div id="htmlForm">
<form>

    <!--input name-->
    <label>Name</label>
    <input type="text" placeholder="enter your name">

    <!--Tags-->
    <label>Tags</label>
    <input type="text" placeholder="enter tags">

    <!--input caption-->
    <label>Caption</label>
    <input type="text" placeholder="enter your caption">

    <!--location-->
    <label>Select your location</label>
    <button>Select Position</button>

    <!--image-->
    <label>Image</label>
    <input type="file" id="img" name="img" accept="image/*">

    <input type="submit">

</form>
</div>
</body>
</html>
