<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!--page setup-->
    <title>Bumper Stickers!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--connecting css + js-->
    <link rel="stylesheet" th:href="@{/submit.css}"/>
    <link rel="shortcut icon" type="image/jpg" href="https://ih1.redbubble.net/image.1786369421.9252/st,small,507x507-pad,600x600,f8f8f8.jpg"/>


    <!--pretty font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>

<!-- page heading-->
<h1>YOUR STICKER IS SUBMITTED!</h1>
<button class="button"><a href="/content">VIEW POST!</a></button>
<button class="button"><a href="/">BACK TO HOME</a></button>


<!-- the two scripts below make the confetti go!-->
<script src="./confetti.js"></script>
<script>
        const start = () => {
                setTimeout(function() {
                    confetti.start()
                }, 100); // when the confetti starts ( 1000 = 1 sec)
            };

            const stop = () => {
                setTimeout(function() {
                    confetti.stop()
                }, 10000);
            };

            start();
            stop();
    </script>


</body>
</html>

